name: .NET

on:
  push:
    branches: development
  pull_request:
    branches: development

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Docker login
      uses: azure/docker-login@v1
      with:
        login-server: 'rxarchregistery.azurecr.io' # default: index.docker.io
        username: 'rxarchregistery'
        password: '5Rx9PgDDIOhEKqEofaGZe16NT+WbIkiM'
    - name: Pull Docker Image
      run: docker pull rxarchregistery.azurecr.io/fedora/httpd:version1.0
    - name: Build and Push Container Registry Image
      run: |
        docker build . -t demodockerapplication
        docker tag demodockerapplication rxarchregistery.azurecr.io/fedora/httpd:version1.0
        docker push rxarchregistery.azurecr.io/fedora/httpd:version1.0
